.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/images/bg_img_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

